<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Mentor</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <% @group.each do |group| %>
      <tr>
          <td scope="row"><%= group.name%></td>
          <td><%= group.mentor%></td>
          <td><%= group.description%></td>
          <td><%= button_to group, method: :get, class: 'btn' do %> <i>Add</i> <% end %> </td>
      </tr>
  <%end%>
</table>
