<section class="section">
    <div class="container">
        <h1 class="title">
            <%= @resource.name%>
        </h1>
        <div class="description">
         <%= @resource.description %>
        </div>
    </div>
</section>