@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body{
  min-height: 100vh;
  background:#fff;
}


.navigation{
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 150px;
  height: 700px;
  border-radius: 10px;
  box-sizing: inital;
  border-left: 0px solid #481465;
  background: #481465;
}

.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
  padding-top: 100px;
}

.navigation ul li{
  position: relative;
  list-style: none;
  width: 100%;
}

.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  display: flex;
  text-decoration: none;
  color: #fff;
}


.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 10px;
  height: 10px;
  line-height: 60px;
  text-align: center;
  
}

.navigation ul li a .title{
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
  
}


